<section class="groups-dynamic-groups">
  <div class="explanation">{{html-safe (i18n "dynamic_groups.explanation")}}</div>
  <textarea id="ruleexpression" rows="5" cols="60" name="ruleexpression" {{on "input" this.updateValue}}>{{this.model.dynamic_rule}}</textarea>
  <DButton
        @action={{this.run}}
        @label="dynamic_groups.apply_button"
        @class="btn-primary"
        @type="submit"
        @disabled={{this.disabled}}
        @isLoading={{this.loading}}
      />
  <ConditionalLoadingSpinner @condition={{this.spinning}} />
  {{#if this.message}}
    <div class="{{if (eq this.messageType 'success') 'success-bar' 'error-bar'}}">
      {{this.message}}
    </div>
  {{/if}}
  {{#if this.deploying}}
    <div>Making changes to group membership: {{ this.model.dynamic_progress}}%</div>
  {{/if}}
</section>
